<!-- <div class="row">
    <div class="col-md-6 text-sm-right">
        Select Quiz:
        <select [(ngModel)]="quizName" (change)="loadQuiz(quizName)">
        <option *ngFor="let quiz of quizes" [value]="quiz.id">{{quiz.name}}</option>
      </select>
    </div>
</div> -->
<div class="quiz">
    <!-- <div class="quiz-name">
        <div class="navigate-back" [routerLink]="['/home']" (click)="navigateHome()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg></div>
        <h1 class="text-sm-center">{{quiz.name}}</h1>
    </div> -->

    <div *ngIf="mode=='quiz' && quiz" class="quiz-top-container">
        <div *ngFor="let question of filteredQuestions;" class="quiz-wrapper">
            <div class="badge badge-info">Question {{pager.index + 1}} of {{pager.count}}.</div>
            <div class="quiz-container">
                <!-- <h2>{{pager.index + 1}}. <span [innerHTML]="question.name"></span></h2> -->
                <h2><span [innerHTML]="question.name"></span></h2>
                <div class="row text-left options" class="quiz-choose">
                    <div class="col-md-6" *ngFor="let option of question.options;let i = index;">
                        <div class="option">
                            <label class="" [attr.for]="option.id">
                                  <input id="{{option.id}}" [disabled]="question.attempts < 1" type="checkbox" [(ngModel)]="option.selected" (change)="onSelect(question, option);" />
                                {{option.name}}  
                                <!-- <span class="checkbox">
                                </span> -->
                            </label>
                        </div>
                    </div>
                    <div class="hint-required" *ngIf="question.isHintRequired">
                        {{ question.hint }}
                    </div>
                </div>
            </div>
        </div>
        <lottie-animation-view *ngIf="correctAnswer" [options]="lottieConfig" [width]="300" [height]="600" (animCreated)="handleAnimation($event)"></lottie-animation-view>
        <lottie-animation-view *ngIf="wrongAnswer" [options]="lottieConfig2" [width]="300" [height]="600" (animCreated)="handleAnimation($event)"></lottie-animation-view>

        <div class="text-sm-center" class="quiz-controls-one">
            <!-- <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(0);">First</button> -->
            <button class="btn btn-default" *ngIf="pager.index > 0" (click)="goTo(pager.index - 1);"> Prev</button>
            <button class="btn btn-primary" *ngIf="pager.index < pager.count - 1" (click)="goTo(pager.index + 1); onNext(pager.index);">Next</button>
            <!-- <button class="btn btn-default" *ngIf="config.allowBack" (click)="goTo(pager.count - 1);">Last</button> -->
            <!--<pagination *ngIf="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>-->
        </div>
    </div>

    <div class="row review" *ngIf="mode=='review'">
        <div class="col-sm-4" *ngFor="let question of quiz.questions; let index = index;">
            <div (click)="goTo(index)" [ngClass]="{ 'answered': isAnswered(question) == 'Answered',
                                                    'not-answered': isAnswered(question) != 'Answered',
                                                    'correct-answer' : isCorrect(question) == 'correct',
                                                    'wrong-answer' : isCorrect(question) != 'correct' }">{{index + 1}}. {{ isAnswered(question) }}</div>
        </div>
    </div>
    <div class="row review" *ngIf="mode=='unanswered'">
        <div class="col-sm-4" *ngFor="let question of quiz.questions; let index = index;">
            <div (click)="goTo(index);addHintRequired(question);" *ngIf="isAnswered(question) != 'Answered'" class="{{ isAnswered(question) == 'Answered'? 'answered': 'not-answered' }}">{{index + 1}}. {{ isAnswered(question) }}</div>
        </div>
    </div>
    <div class="result" *ngIf="mode=='result'">
        <h2>Thank you for taking a quiz.</h2>
        <h3>Your score is: {{correctAnswerCount}} out of {{ quiz.questions.length }} - <span class="p">{{ correctAnswerCount > quizPassMark? 'You passed!' : 'You failed!' }}</span></h3>
        <!-- <h2>Quiz Result</h2>  -->
        <!-- <div *ngFor="let question of quiz.questions; let index = index">
            <div class="result-question">
                <h4>{{index + 1}}. {{question.name}}</h4>
                <div class="row">
                    <div class="col-md-6" *ngFor="let Option of question.options">
                        <input id="{{Option.id}}" type="checkbox" disabled="disabled" [(ngModel)]="Option.selected" /> {{Option.name}}
                    </div>
                </div>
                <div class="alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is {{isCorrect(question)}}.</div>
            </div>
        </div> -->
        <a class="alert alert-info text-sm-center text-link" (click)="closeWindow();">Close this window now or </a>
        <a class="alert alert-info text-sm-center text-link" [routerLink]="['/']">Go to main page.</a>
    </div>
    <div *ngIf="mode!='result'" class="quiz-controls-two">
        <button class="btn btn-default" (click)="mode = 'quiz';backToQuiz(false);" *ngIf="isbackToQuiz">Back Quiz</button>
        <button class="btn btn-default" (click)="mode = 'review';backToQuiz(true);" *ngIf="!isbackToQuiz">Review</button>
        <!-- <button class="btn btn-default" (click)="mode = 'unanswered'">Unanswered</button> -->
        <button class="btn btn-default" (click)="onSubmit();" *ngIf="isAllAnsweredTrue">Submit</button>
    </div>
</div>