.quiz {
    width: 90%;
    margin: 0 auto;
}

.quiz-name {
    background: #fff;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.navigate-back {
    cursor: pointer;
}

.navigate-back svg {
    fill: rgba(0, 40, 104, 0.54);
}

h1 {
    position: relative;
    padding-left: 10px;
    margin-left: 10px;
    font-size: 14px;
}

h1:before {
    position: absolute;
    content: '';
    left: 0;
    height: 100%;
    width: 1px;
    background: #002868;
}

.quiz-wrapper {
    margin-top: 30px;
}

.quiz-controls-one {
    margin-top: 50px;
    margin-top: 50px;
    justify-content: flex-end;
    display: flex;
}

.quiz-controls-two {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.quiz-controls-two .btn {
    background: transparent;
    color: #002868;
    border: 1px solid #b3c4de;
    margin-bottom: 16px;
}

.badge {
    margin-bottom: 20px;
    display: inline-flex;
    background: linear-gradient(to right, #002868, #BF0A30);
    color: #fff;
    padding: 6px 10px;
    font-weight: 300;
    font-size: 12px;
    border-radius: 50px;
}

.quiz-container {
    background: #fff;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.align-right {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
}

.align-right:before {
    position: absolute;
    right: -29px;
    top: -20px;
    height: 70px;
    width: 90px;
    content: '';
    background: linear-gradient(to right, #002868, #BF0A30);
    z-index: -1;
}

.align-right span:last-child {
    font-size: 10px;
    font-weight: 300;
}

h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 40, 104, 0.2);
}

.quiz-choose {}

.radio-group {
    display: inline-flex;
    flex-direction: column;
}

.radio-button {
    margin: 5px;
}

.selected-value {
    margin: 15px 0;
}

.hint-required {
    padding-top: 10px;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    font-size: 12px;
    font-style: italic;
}

label {
    position: relative;
    cursor: pointer;
}

input[type="checkbox"] {
    /* display: none; */
}

.disabled {
    pointer-events: none;
}

span.checkbox:before,
span.checkbox:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

span.checkbox:after {
    content: "";
    left: -31px;
    top: 2px;
    color: transparent;
    /* border-radius: 10px; */
    /* background: #BF0A30; */
}

span.checkbox:before {
    left: -35px;
    width: 27px;
    height: 27px;
    border: 3px solid transparent;
    background: #BF0A30;
    background: #fff;
    box-sizing: border-box;
}

input[type="checkbox"]:checked+span.checkbox:after {
    content: url('/assets/checkmark.svg');
}

.alert {
    padding-top: 20px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}

.quiz-top-container {
    position: relative;
}

lottie-animation-view {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 auto;
    display: block;
}

@media screen and (min-width: 756px) {
    .quiz {
        width: 60%;
    }
    .quiz-name {
        padding: 20px 30px;
    }
    h1 {
        padding-left: 20px;
        margin-left: 20px;
    }
}